#title, #testimonials, #press, #cta {
  background-color: #ff4c68;
  color: white;
  text-align:center;
}

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

.container-fluid {
  padding: 7% 15% 7%;
  text-align: center;
}

.iphone {
  width: 60%;
  right: 30%;
  transform: rotate(25deg);
  position: absolute;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.download-button {
  margin: 5% 3% 5% 0;
  font-family: "Ubuntu";
}

.white-section {
  text-align: center;
  background-color: white;
}

p {
  color: #8f8f8f;
  font-family: "Montserrat";
}

h3 {
  font-family: "Montserrat-bold";
  font-size: 1.5 rem;
}

h2 {
  font-family: "Montserrat-bold";
  line-height: 1.5;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.feature-text {
  padding-bottom: 5%;
}

.testimonial-images{
  width: 10%;
  border-radius: 100%;
  margin: 20px
}

.testimonial-text{
  font-size:3rem;
}

.press-logo {
  width: 15%;
  margin: 20px 20px;
}

#features {
  position:relative;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding:3% 2%;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
  font-family: "Montserrat-Bold";

}

.footer-text{
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width:1080px) {
  .iphone {
    position: static;
    transform: rotate(0);
  }
}
